<div *ngIf="!token">
<div class="login-container">
  <form (ngSubmit)="login()" class="login-form">
    <h2>Iniciar Sesión</h2>

    <label for="username">Usuario</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required />

    <label for="password">Contraseña</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required />

    <button type="submit">Ingresar</button>
  </form>
</div>
</div>

<div *ngIf="token">
  <h2>Bienvenido</h2>
  <button (click)="logout()">Cerrar sesión</button>

  <h3>Playlists</h3>
  <ul>
    <li *ngFor="let p of playlists">{{ p.nombre }}</li>
  </ul>
</div>